
<script>
    function isIE() {
        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
            return true;
        }
        else {
            return false;
        }
    }
    if (isIE()) {
        alert("This site is not compatible with IE. Please use Chrome / Firefox / Safari / Opera / Edge to access this site.");
    }
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="/">PhytoLRR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if (active === "db") { %><li class="nav-item active"><% } else { %><li class="nav-item"><% } %>
                    <a class="nav-link" href="/">Database</a>
                </li>
                <% if (active === "findlrr") { %><li class="nav-item active"><% } else { %><li class="nav-item"><% } %>
                    <a class="nav-link" href="/findlrr">Predict LRRs</a>
                </li>
                <% if (active === "about") { %><li class="nav-item active"><% } else { %><li class="nav-item"><% } %>
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <div id="global-search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search"
                       placeholder="Sequence ID"
                       title="Input part of the sequence ID and find it from the database"
                       v-model="keyword"
                       @keyup.enter="onSearch">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        v-on:click="onSearch()">Search</button>
            </div>
        </div>
    </div>
</nav>
<div class="alert alert-warning" role="alert" type="button" data-toggle="modal" data-target="#eosModal">
  EOS: phytolrr.com will reach the end of its life on June 30, 2024. Click here to view detailed information.
</div>

<div class="modal fade" id="eosModal" tabindex="-1" role="dialog" aria-labelledby="eosModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">End Of Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Dear phytolrr.com users,</p>
        <p>Thank you all for your continuous support of phytolrr.com. We regret to inform you that phytolrr.com will reach the end of its life on June 30, 2024.</p>
        <p>All our source codes have been made open and are available on GitHub: <a href="https://github.com/phytolrr" target="_blank">https://github.com/phytolrr</a>. You can view, download, and contribute to the project there.</p>
        <p>Simultaneously, for your convenience, pre-built images have been created and uploaded to Docker Hub: <a href="https://hub.docker.com/repository/docker/phytolrr/phytolrr/general" target="_blank">https://hub.docker.com/repository/docker/phytolrr/phytolrr/general</a>.</p>
        <p>If you have any questions or need additional support, please feel free to raise issues on GitHub, and we will do our best to assist you.</p>
        <p>Best regards,</p>
        <p>Tianshu Chen</p>
      </div>
    </div>
  </div>
</div>
